@import 'variables';
@import 'mixins';

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 1rem;
}

.card {
  background: $black-color;
  overflow: hidden;
  margin-top: 3rem;
  position: relative;

  .cardInner {
    @include space-between-flex;
    flex-direction: column;
    align-items: flex-start;

    img {
      height: 189.97px;
      width: 100%;
      display: block;
      margin: 0;
      padding: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: $background-color;
      bottom: -1px;
      right: -1px;
      clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }

    .boxContent {
      @include space-between-flex;
      color: $white-color;
      font-size: 14px;
      line-height: 16.41px;
      border-top: 5.38px solid $red-color;
      width: 100%;
      margin: 0 auto;
      height: 56px;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      .hoverOverlay {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background-color: $red-color;
        transition: height 0.3s ease-in-out;
      }

      &:hover .hoverOverlay {
        height: calc(100%);
        top: 0;
      }
    }
    .rightBox {
      flex-basis: 65%;
      word-wrap: break-word;
      white-space: normal;
      margin-left: 0.2rem;
      font-size: clamp(12px, 2vw, 14px);
      z-index: 10;
    }
    .leftBox {
      flex-basis: 17%;
      z-index: 10;
    }

    .boxContent img {
      width: 12px;
      height: 10.84px;
    }
  }
}

/* Estilos para tablets */
@media (min-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(7, 1fr);
  }
  .card > .cardInner > .boxContent > .rightBox {
    flex-basis: 50%;
  }
}
