@import 'mixins';
@import 'variables';

.header {
  @include space-between-flex;
  background-color: $black-color;
  height: 84px;
  position: fixed;
  padding: 16px;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
}

.favoritesCounterWrapper {
  @include space-between-flex;
  gap: 8px;
  color: $white-color;
  cursor: pointer;
}

.logoWrapper {
  cursor: pointer;
}

.loadingLine {
  border-bottom: 5px solid $red-color;
}

/* Estilos para tablets */
@media (min-width: 600px) {
  .header {
    padding: 16px 48px;
  }
}

/* Estilos para desktops */
@media (min-width: 1024px) {
  .header {
    padding: 16px 48px;
  }
}
